<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="jquery.js"> </script>
        <script>
            $(document).ready(function(){
                //bookmark click
                $("a.bookmark").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#bookmark_username").val($("a.profile").attr("data-id_username"))
                    $("#bookmarkform").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //addQuestion click
                $("button#addQuestion").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#addQuestion_username").val($("a.profile").attr("data-id_username"))
                    $("#addQuestionForm").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //add_question form submit
                $("button#add_Question").click(function(){
                    console.log("ewan")
                    console.log($("a.profile").attr("data-id_username"))
                    $("#add_Question_username").val($("a.profile").attr("data-id_username"))
                    $("#add_QuestionForm").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
            })
        </script>
    </head>
    <body>
        <div class="container h-100">
            <div class="container d-flex justify-content-center ml-5 sticky-top">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Q&A</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="http://localhost:3002/rooms">Rooms</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Notifications<span class="badge badge-info badge-pill">5</span></a>
                            </li>
                            <li class="nav-item active dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown">
                                   {{user.username}}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item profile" data-id_username="{{user._id}}" href="#">{{user.username}}</a> {{!--data-id_username contains the user id of the user --}}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="http://localhost:3002/messages">Messages</a>
                                    <a class="dropdown-item bookmark" href="#">Bookmarks</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <a class="dropdown-item" href="#">Help</a>
                                    <a class="dropdown-item" href="#">Logout</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="question/topic/answer">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-8 col-md-2 bg-warning p-2">
                        <div class="sticky-top">
                            <div class="title container d-flex justify-content-center font-weight-bold">Feed</div>
                            <br>
                            <a href="#" class="list-group-item list-group-item-action">Mathematics</a>
                            <a href="#" class="list-group-item list-group-item-action">Science<span class="badge badge-primary badge-pill">3</span> </a>
                            <a href="#" class="list-group-item list-group-item-action">Politics<span class="badge badge-primary badge-pill">1</span> </a>
                            <a href="#" class="list-group-item list-group-item-action">Technology<span class="badge badge-primary badge-pill">16</span> </a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Music<span class="badge badge-primary badge-pill">2</span> </a>
                            <button type="button" class="btn btn-primary " id="addQuestion"> Add a question! </button>
                        </div>
                    </div>
                    <div class="col-4 col-md-10 bg-danger">
                        <form action = "add_question" id="add_QuestionForm" method="post">
                            <input type="hidden" name="add_QuestionUN" id="add_Question_username">
                            <div class = "add-header">Add a Question</div>
                            <div class="form-group">
                            <label for = "question_header">Question</label>
                            <input id = "question_title_input" type="text" class="form-control" name="question_title" placeholder="Start with what, where, when, who">
                            </div>
                            <div class="form-group">
                                <label for = "topic_header">Choose Topic</label>
                                <select class="form-control" name="ts" id="topic_select">
                                <option>Mathematics</option>
                                <option>Science</option>
                                <option>Politics</option>
                                <option>Technology</option>
                                <option>Music</option>
                                </select>
                            </div>
                            <div class="form-group">
                            <label for = "tag_header">Tags</label>
                            <input id = "question_tag_input" type="text" class="form-control" name="question_tag" placeholder="use hashtags ex.(#Calculus)">
                            </div>
                            <button type="button" class="btn btn-primary" id="add_Question">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{!-- form equivalent of bookmark <a></a> --}}
        <form action="bookmark" id="bookmarkform" method="post">
            <input type="hidden" name="bookmarkUN" id="bookmark_username">
        </form>
        {{!-- form equivalent of add_a_question <a></a> --}}
        <form action="addQuestion" id="addQuestionForm" method="post">
            <input type="hidden" name="addQuestionUN" id="addQuestion_username">
        </form>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>